openapi: 3.2.0
info:
  title: Kriya Therapeutics Content Taxonomy API
  version: wp/v2
  summary: Anonymously readable WordPress REST content API behind kriyatherapeutics.com.
  description: The read-only content surface Kriya Therapeutics exposes at https://kriyatherapeutics.com/wp-json. Kriya Therapeutics is a clinical-stage biopharmaceutical company developing one-time AAV gene therapies for chronic diseases across ophthalmology, metabolic disease and neurology; it runs no developer program and markets no product API. This document is an API Evangelist derivation of the WordPress `wp/v2` route index the site publishes at /wp-json/, restricted to the operations that were verified to return data anonymously on 2026-08-04. Write operations, /wp/v2/settings, /wp/v2/users, /wp/v2/themes, /wp/v2/plugins, /wp/v2/menus, /wp/v2/block-types, and the wp-abilities/v1, gutena-forms/v1, yoast/v1, wordfence/v1, wpe/cache-plugin/v1, wpe_sign_on_plugin/v1 and wp-site-health/v1 namespaces all require authentication and are deliberately excluded — see x-api-evangelist-provenance.
  contact:
    name: Kriya Therapeutics
    url: https://kriyatherapeutics.com/connect/
  x-api-evangelist-provenance: 'Derived by the API Evangelist enrichment pipeline from the live WordPress REST route index at https://kriyatherapeutics.com/wp-json/ (227 routes across the namespaces oembed/1.0, wpe/cache-plugin/v1, wpe_sign_on_plugin/v1, cookie-notice/v1, gutena-forms/v1, wordfence/v1, yoast/v1, wp/v2, wp-site-health/v1, wp-block-editor/v1, wp-abilities/v1) and verified against live anonymous responses on 2026-08-04. Every parameter below appears verbatim in the route index `args` for that endpoint, read from an OPTIONS request against the collection. Observed collection sizes on the harvest date: posts 33, pages 18, news 28, media 304, categories 7, teamkeywords 4, gutena_forms 1, search 58; team 0, newscategories 0, tags 0, comments 0. Kriya Therapeutics publishes no OpenAPI, no developer documentation and no API reference for this surface; the humanURL in apis.yml points at the upstream WordPress REST handbook that defines the wp/v2 contract. Nothing here was obtained with credentials.'
servers:
- url: https://kriyatherapeutics.com/wp-json
  description: Production content API
tags:
- name: taxonomy
  description: Categories, tags, news categories and team keywords.
paths:
  /wp/v2/categories:
    get:
      tags:
      - taxonomy
      operationId: listCategories
      summary: List categories
      description: Lists `category` terms (7 at harvest). Populated terms on this deployment are `leadership` (17), `bod` (10) and `sab` (6) — the taxonomy carries the leadership, board and scientific advisory board groupings used on the Team page.
      parameters:
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Order'
      - $ref: '#/components/parameters/Slug'
      - name: hide_empty
        in: query
        description: Whether to hide terms not assigned to any posts.
        schema:
          type: boolean
      - name: post
        in: query
        description: Limit result set to terms assigned to a specific post.
        schema:
          type: integer
      responses:
        '200':
          description: A page of category terms.
          headers:
            X-WP-Total:
              $ref: '#/components/headers/XWPTotal'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Term'
  /wp/v2/categories/{id}:
    get:
      tags:
      - taxonomy
      operationId: getCategory
      summary: Get a category term
      parameters:
      - $ref: '#/components/parameters/PathId'
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: A single category term.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Term'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/tags:
    get:
      tags:
      - taxonomy
      operationId: listTags
      summary: List tags
      description: Lists `post_tag` terms. Registered by WordPress core; this deployment returns an empty array.
      parameters:
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Slug'
      responses:
        '200':
          description: A page of tag terms (empty on this deployment).
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Term'
  /wp/v2/newscategories:
    get:
      tags:
      - taxonomy
      operationId: listNewsCategories
      summary: List news category terms
      description: Lists terms of the `newscategories` taxonomy attached to the `news` post type. Registered and reachable, but this deployment returns an empty array — news items are not categorised.
      parameters:
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Slug'
      responses:
        '200':
          description: A page of news category terms (empty on this deployment).
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Term'
  /wp/v2/teamkeywords:
    get:
      tags:
      - taxonomy
      operationId: listTeamKeywords
      summary: List team keyword terms
      description: Lists terms of the `teamkeywords` taxonomy attached to the `team` post type. Four terms are registered — Leadership, Board of Directors, Founders, and Scientific and Strategic Advisors — each with a public archive link under /keyword/<slug>/, though all report count 0.
      parameters:
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Slug'
      responses:
        '200':
          description: A page of team keyword terms.
          headers:
            X-WP-Total:
              $ref: '#/components/headers/XWPTotal'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Term'
  /wp/v2/teamkeywords/{id}:
    get:
      tags:
      - taxonomy
      operationId: getTeamKeyword
      summary: Get a team keyword term
      parameters:
      - $ref: '#/components/parameters/PathId'
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: A single team keyword term.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Term'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    Slug:
      name: slug
      in: query
      description: Limit result set to items with one or more specific slugs.
      schema:
        type: array
        items:
          type: string
    PerPage:
      name: per_page
      in: query
      description: Maximum number of items to be returned per page. Values above 100 are rejected with rest_invalid_param.
      schema:
        type: integer
        default: 10
        minimum: 1
        maximum: 100
    Context:
      name: context
      in: query
      description: Scope under which the request is made; determines fields present in the response.
      schema:
        type: string
        enum:
        - view
        - embed
        - edit
        default: view
    Page:
      name: page
      in: query
      description: Current page of the collection.
      schema:
        type: integer
        default: 1
        minimum: 1
    Search:
      name: search
      in: query
      description: Limit results to those matching a string.
      schema:
        type: string
    Order:
      name: order
      in: query
      description: Order sort attribute ascending or descending.
      schema:
        type: string
        enum:
        - asc
        - desc
        default: desc
    PathId:
      name: id
      in: path
      required: true
      description: Unique identifier for the object.
      schema:
        type: integer
  schemas:
    WPError:
      type: object
      description: The WordPress REST error envelope. Not RFC 9457.
      properties:
        code:
          type: string
        message:
          type: string
        data:
          type: object
          properties:
            status:
              type: integer
            params:
              type: object
              additionalProperties:
                type: string
      required:
      - code
      - message
      - data
    Links:
      type: object
      description: HAL-style link relations WordPress attaches to every resource; `_embed=1` inlines them.
      additionalProperties: true
    Term:
      type: object
      properties:
        id:
          type: integer
        count:
          type: integer
        description:
          type: string
        link:
          type: string
          format: uri
        name:
          type: string
        slug:
          type: string
        taxonomy:
          type: string
        parent:
          type: integer
        meta:
          type:
          - object
          - array
        _links:
          $ref: '#/components/schemas/Links'
  headers:
    XWPTotal:
      description: Total number of items in the unpaginated collection.
      schema:
        type: integer
  responses:
    NotFound:
      description: The object was not found. Note that on this deployment an unknown numeric id is answered by the edge with an nginx HTML 404 page rather than the WordPress rest_post_invalid_id JSON envelope — see errors/kriya-therapeutics-problem-types.yml.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WPError'
        text/html:
          schema:
            type: string
