openapi: 3.2.0
info:
  title: Kriya Therapeutics Content Search API
  version: wp/v2
  summary: Anonymously readable WordPress REST content API behind kriyatherapeutics.com.
  description: The read-only content surface Kriya Therapeutics exposes at https://kriyatherapeutics.com/wp-json.
  contact:
    name: Kriya Therapeutics
    url: https://kriyatherapeutics.com/connect/
  x-api-evangelist-provenance: 'Derived by the API Evangelist enrichment pipeline from the live WordPress REST route index at https://kriyatherapeutics.com/wp-json/ (227 routes across the namespaces oembed/1.0, wpe/cache-plugin/v1, wpe_sign_on_plugin/v1, cookie-notice/v1, gutena-forms/v1, wordfence/v1, yoast/v1, wp/v2, wp-site-health/v1, wp-block-editor/v1, wp-abilities/v1) and verified against live anonymous responses on 2026-08-04. Every parameter below appears verbatim in the route index `args` for that endpoint, read from an OPTIONS request against the collection. Observed collection sizes on the harvest date: posts 33, pages 18, news 28, media 304, categories 7, teamkeywords 4, gutena_forms 1, search 58; team 0, newscategories 0, tags 0, comments 0. Kriya Therapeutics publishes no OpenAPI, no developer documentation and no API reference for this surface; the humanURL in apis.yml points at the upstream WordPress REST handbook that defines the wp/v2 contract. Nothing here was obtained with credentials.'
servers:
- url: https://kriyatherapeutics.com/wp-json
  description: Production content API
tags:
- name: Search
  description: Cross-content search across published objects.
paths:
  /wp/v2/search:
    get:
      tags:
      - Search
      operationId: searchContent
      summary: Search published content
      description: Cross-content search over published objects (58 indexed on this deployment). Returns a lightweight result shape — id, title, url, type, subtype — rather than full objects; follow the `self` link in `_links` to retrieve the full record.
      parameters:
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - name: search
        in: query
        required: true
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: type
        in: query
        description: Limit results to items of an object type.
        schema:
          type: string
          enum:
          - post
          - term
          - post-format
      - name: subtype
        in: query
        description: Limit results to items of one or more object subtypes (e.g. post, page, news).
        schema:
          type: array
          items:
            type: string
      - $ref: '#/components/parameters/Exclude'
      - $ref: '#/components/parameters/Include'
      responses:
        '200':
          description: A page of search results.
          headers:
            X-WP-Total:
              $ref: '#/components/headers/XWPTotal'
            X-WP-TotalPages:
              $ref: '#/components/headers/XWPTotalPages'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SearchResult'
components:
  parameters:
    Exclude:
      name: exclude
      in: query
      description: Ensure result set excludes specific IDs.
      schema:
        type: array
        items:
          type: integer
    PerPage:
      name: per_page
      in: query
      description: Maximum number of items to be returned per page. Values above 100 are rejected with rest_invalid_param.
      schema:
        type: integer
        default: 10
        minimum: 1
        maximum: 100
    Include:
      name: include
      in: query
      description: Limit result set to specific IDs.
      schema:
        type: array
        items:
          type: integer
    Page:
      name: page
      in: query
      description: Current page of the collection.
      schema:
        type: integer
        default: 1
        minimum: 1
    Context:
      name: context
      in: query
      description: Scope under which the request is made; determines fields present in the response.
      schema:
        type: string
        enum:
        - view
        - embed
        - edit
        default: view
  schemas:
    SearchResult:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        url:
          type: string
          format: uri
        type:
          type: string
        subtype:
          type: string
        _links:
          $ref: '#/components/schemas/Links'
    Links:
      type: object
      description: HAL-style link relations WordPress attaches to every resource; `_embed=1` inlines them.
      additionalProperties: true
  headers:
    XWPTotal:
      description: Total number of items in the unpaginated collection.
      schema:
        type: integer
    XWPTotalPages:
      description: Total number of pages available at the requested per_page.
      schema:
        type: integer
